.row
  .col-lg-4.col-md-6
    .footer-info
      h3 Pet Shop
      p.pb-3
        em Seu pet sempre alegre e fofinho
      p
        | Rua Guaranésia, 425 
        br
        |                 SP 02112-000, BR
        br
        br
        strong Phone:
        |  (11) 94930-6894
        br
        strong Email:
        |  contato@petshop.com.br
        br
      .social-links.mt-3
        a.twitter(href='#')
          i.bx.bxl-twitter
        a.facebook(href='#')
          i.bx.bxl-facebook
        a.instagram(href='#')
          i.bx.bxl-instagram
        a.google-plus(href='#')
          i.bx.bxl-skype
        a.linkedin(href='#')
          i.bx.bxl-linkedin
  .col-lg-4.col-md-6.footer-links
    h4 Mapa do Site
    ul
      li
        i.bx.bx-chevron-right
        a(href='#') Home
      li
        i.bx.bx-chevron-right
        a(href='#') Sobre
      li
        i.bx.bx-chevron-right
        a(href='#') Serviços
      li
        i.bx.bx-chevron-right
        a(href='/login') Agendamento
  .col-lg-4.col-md-6.footer-newsletter
    h4 Novidades
    p Quer conhecer as novidades da pet shop favorida do seu auaumigo?
    form(action='' method='post')
      input(type='email' name='email')
      input(type='submit' value='cadastrar')