span.title Pelos e Patas

nav.nav
    a.nav-link( aria-current="page" href="/#sobre" ) Sobre
    a.nav-link(href="/#servicos") Serviços
    a.nav-link(href="/#contato") Contato
    a.nav-link(href="/login") Agendamento