nav#navbar.navbar
    ul
        li
        a.nav-link.scrollto.active(href='#hero') Home
        li
        a.nav-link.scrollto(href='#sobre') Sobre
        li
        a.nav-link.scrollto(href='#servicos') Serviços
        li
        a.nav-link.scrollto(href='#contact') Contato
        li
        a.getstarted.scrollto(href='/login') Agendamento
    i.bi.bi-list.mobile-nav-toggle