extends main-layout.pug

block nav
    include ../includes/nav-sistema.pug

block content
    .row
        include ../includes/navbar-sistema.pug
            block navbar
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link.active( href="/admin", aria-current="page" ) Dashboard
                    li.nav-item
                        a.nav-link( href="/admin/agenda" ) Agenda
                h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                    span Cadastros
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link( href="/admin/funcionarios" ) Funcionários
                    li.nav-item
                        a.nav-link( href="/admin/clientes" ) Clientes
                h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                    span Configurações
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link( href="/admin/servicos" ) Serviços
                    li.nav-item
                        a.nav-link( href="/admin/calendarios" ) Calendário
        main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
            block main
    


