extends layouts/main-layout.pug

block nav
  include includes/nav-home.pug

block content
  include includes/landing-page.pug
  include includes/conteudo.pug

block rodape
  include includes/footer-home.pug