extends layouts/admin-layout.pug

block main
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        .h2 Serviços
        .btn-toolbar.mb-2.mb-md-0
            button.btn.btn-sm.btn-outline-secondary( id="atualizarRelatorio", type="button" ) Atualizar
            button.btn.btn-sm.btn-outline-secondary( data-bs-toggle="modal", data-bs-target="#servicoModal" ) Novo Serviço
            button.btn.btn-sm.btn-outline-secondary( id="exportarRelatorio", type="button" ) Exportar
    div( id="table_servicos" )

    div.modal.fade( id="servicoModal", tabindex="-1", aria-labelledby="servicoModalLabel" aria-hidden="true" )
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5.modal-title( id="servicoModalLabel" ) Serviço
                    button.btn-close( type="reset", data-bs-dismiss="modal", aria-label="Close" )
                .modal-body
                    form.row.g-3( id="servicoForm", method="POST" )
                        .col-12( hidden )    
                            label.form-label( for="id" ) Id
                            input.form-control( type="text", name="id", id="id" )
                        .col-12
                            label.form-label( for="nome" ) Nome
                            input.form-control( name="nome", id="nome", required )
                        .col-12
                            label.form-label( for="descricao" ) Descricao
                            textarea.form-control( name="descricao", id="descricao", required )
                        .col-6
                            label.form-label( for="cor" ) Cor do agendamento
                            input.form-control.form-control-color( type="color", name="cor", id="cor", title="Escolha uma cor", required )
                        .col-6
                            label.form-label( for="tempo" ) Duração
                            input.form-control( type="time", name="tempo", id="tempo", required )
                        .col-6
                            label.form-label( for="valor" ) Preço
                            input.form-control.currency( type="number", name="preco", id="preco", data-number-stepfactor="100", data-number-to-fixed="2", min="0", step="0.01" )    
                        .form-check.form-switch.col-6
                            input.form-check-input( type="checkbox", name="ativo", id="ativo", checked, role="switch" )
                            label.form-check-label( for="ativo" ) Serviço ativo
                        .modal-footer
                            button.btn.btn-secondary( type="reset", data-bs-dismiss="modal" ) Cancelar
                            button.btn.btn-danger( type="button", id="excluirButton", hidden, onClick="onClickExcluirServico()" ) Excluir
                            button.btn.btn-primary( type="submit" ) Gravar
    
    include includes/msg-alert.pug

    script( type="text/javascript" ).
        relatorioListarServicos();