nav.flex-start.main-header__nav
    ul.main-header__item-list
        li.main-header__item
            a(href="/#about") Sobre
        li.main-header__item
            a(href="/#services") Serviços
        li.main-header__item
            a(href="/#contact") Contato
        li.main-header__item
            a(href="/login") Agendamento