extends layouts/cliente-layout.pug

block main
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        .h2 Agendamentos
        .btn-toolbar.mb-2.mb-md-0
            button.btn.btn-sm.btn-outline-secondary( id="atualizarRelatorio", type="button" ) Atualizar
    .calendario( id="calendario" )

    div.modal.fade( id="agendamentoModal", tabindex="-1", aria-labelledby="agendamentoModalLabel" aria-hidden="true" )
        .modal-dialog.modal-dialog-centered.modal-lg
            .modal-content
                .modal-header
                    h5.modal-title( id="agendamentoModalLabel" ) Agendamento
                    button.btn-close( type="reset", data-bs-dismiss="modal", aria-label="Close" )
                .modal-body
                    form.g-3( id="agendamentoForm", method="POST" )
                        .col-12( hidden )    
                            label.form-label( for="id" ) Id
                            input.form-control( type="text", name="id", id="id" )
                            label.form-label( for="clientId" ) Id do Cliente
                            input.form-control( name="clienteId", id="clienteId" )
                            label.form-label( for="telefoneId" ) Id do telefone
                            input.form-control( name="telefoneId", id="telefoneId" )
                            label.form-label( for="petId" ) Id do pet
                            input.form-control( name="petId", id="petId" )
                            label.form-label( for="funcionarioId" ) Id do funcionário
                            input.form-control( name="funcionarioId", id="funcionarioId" )
                        .row
                            .col-md
                                label.form-label( for="data" ) Data
                                input.form-control( type="date", name="data", id="data" )
                            .col-lg
                                label.form-label( for="horarioDe" ) Horário
                                .input-group
                                    input.form-control( type="time", name="horarioDe", id="horarioDe", required )
                                    label.col-sm.text-center.align-item-center( for="horarioAte" ) até
                                    input.form-control( type="time", name="horarioAte", id="horarioAte", required )
                        .col-12
                            label.form-label( for="cliente" ) Cliente
                            input.form-control( name="cliente", id="cliente", required )
                        .row
                            .col-md
                                label.form-label( for="telefone" ) Telefone
                                input.form-control( type="phone", name="telefone", id="telefone" )
                            .col-md
                                label.form-label( for="nomePet" ) Nome do Pet
                                input.form-control( name="nomePet", id="nomePet" )                                
                        .col-12
                            label.form-label( for="nomeFuncionario" ) Funcionário
                            input.form-control( name="nomeFuncionario", id="nomeFuncionario" )
                        .nav.nav-tabs.mt-2
                            button.nav-link.active( id="nav-servico-tab" data-bs-toggle="tab" data-bs-target="#nav-servico" type="button" role="tab" aria-controls="nav-servico" aria-selected="true" ) Serviços
                        .tab-content( id="nav-tabContent" )
                            .tab-pane.fade.show.active( id="nav-servico" role="tabpanel" aria-labelledby="nav-servico-tab" )
                                .row.align-items-end
                                    .col-sm
                                        label.form-label( for="nomeServico" ) Nome
                                        input.form-control( name="nomeServico" id="nomeServico" required )
                                    .col-sm
                                        button.btn.btn-success( type="button" ) +
                                table.table.table-striped
                                    thead
                                        tr
                                            th( scope="col" ) Serviço
                                            th
                                    tbody
                                        tr
                                            th( scope="row" ) Banho
                                            td 
                                                button.btn.btn-danger( type="button" )
                                                    svg( xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" )
                                                        path( d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" )
                                                        path( fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" )
                                        tr
                                            th( scope="row" ) Tosa
                                            td 
                                                button.btn.btn-danger( type="button" )
                                                    svg( xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" )
                                                        path( d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" )
                                                        path( fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" )                                    
                        .modal-footer
                            button.btn.btn-secondary( type="reset" data-bs-dismiss="modal" ) Cancelar
                            button.btn.btn-danger( type="button", id="excluirButton", hidden, onClick="onClickCancelarAgendamento()" ) Cancelar
                            button.btn.btn-primary( type="submit" ) Gravar

    script( type="text/javascript" ).
        calendarioAgendamento();
